.cell {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.piece {
  font-weight: bold;
  height: 50px;
  width: 50px;
}

.white {
  color: white;
}

.black {
  color: black;
}

.game-board {
  display: grid;
  grid-template-rows: repeat(var(--rows), 60px);
}

.row {
  display: grid;
  grid-template-columns: repeat(var(--cols), 60px);
}