.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.piece {
  font-weight: bold;
  height: 80px;
  width: 80px;
}

.piece.selected {
  width: 90px;
  height: 90px;
}

.white {
  color: white;
}

.black {
  color: black;
}

.game-board {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(var(--rows), 100px);
}

.row {
  display: grid;
  grid-template-columns: repeat(var(--cols), 100px);
}